<h1 align="center">{{ selectedEpisode.title }}</h1>
<!--<div class="form-group">-->
<!--<label for="title" class="col-sm-3 control-label">Title</label>-->
<!--<div class="col-sm-8">-->
<!--<input type="text" ng-model="selectedShow.title" class="form-control" id="title"/>-->
<!--</div>-->
<!--</div>-->
<div class="top-buffer row">
  <p class="col-sm-3"><b>Title</b></p>
  <div class="col-sm-8">
    <p>{{ selectedEpisode.title }}</p>
  </div>
</div>
<div class="top-buffer row">
  <p class="col-sm-3"><b>Overview</b></p>
  <div class="col-sm-8">
    <p>{{ selectedEpisode.overview }}</p>
  </div>
</div>
<div class="top-buffer row">
  <p class="col-sm-3"><b>Air date</b></p>
  <div class="col-sm-8">
    <p>{{ airDate }}</p>
  </div>
</div>
